.create-form-container {
    background-color: #c1d6c2; /* Cor de fundo do formulário de criação (pode ajustar conforme desejado) */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ajuste a largura máxima conforme necessário */
    margin: auto;
    box-sizing: border-box;
    margin-top: 20px; /* Ajuste conforme desejado */
    margin-bottom: 20px; /* Ajuste conforme desejado */
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 15px;
}

.form-label {
    font-size: 0.9rem;
}

.form-control {
    height: 28px;
    font-size: 0.8rem;
    width: 100%;
}

.btn-success {
    font-size: 0.9rem;
    height: 28px;
}

.alert {
    margin-bottom: 10px;
}
