@page "/products"
@using BlazingShop.Data
@using BlazingShop.Models
@using Microsoft.EntityFrameworkCore
@using System.Globalization
@inject ShopDbContext Context;


<link rel="stylesheet" href="./Products/Index.razor.css" />


<h1 class="center-content">Produtos</h1>

<div class="center-content space-between">
    <a href="products/create" class="btn btn-primary" btn-create><i class="oi oi-plus"></i> CREATE </a>
</div>
<table class="table">
    <thead>
        <tr class="header-row">
            <td></td>
            <td>Title</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var (product, index) in _products.Select((product, index) => (product, index)))
        {
            <tr class="@((index % 2 == 0) ? "even-row" : "odd-row")">
                <td>@product.Id</td>
                <td>@product.Title</td>
                <td>@product.Price.ToString("C", new CultureInfo("pt-BR"))</td>
                <td>
                    <a href="/products/edit/@product.Id"><i class="oi oi-pencil"></i> </a>
                    <a href="/products/delete/@product.Id"><i class="oi oi-trash"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Product> _products = new();

    protected override async Task OnInitializedAsync()
    {
        _products = await Context.Products.AsNoTracking().ToListAsync();
    }
}
