 @page "/"

<PageTitle>Home</PageTitle>
<link rel="stylesheet" href="~/../Pages/Index.razor.css">
<div class="container-home">
    <div class="row">
        <div class="col-md-6">
            <img src="https://boaforma.abril.com.br/wp-content/uploads/sites/2/2023/04/5_produtos_tecnologicos.png?w=1280&h=720&crop=1" alt="Tecnologia" class="img-fluid" />
        </div>
        <div class="col-md-6">
            <div>
                <h1>Bem-vindo à BlazingShop</h1>
                <p>
                    Na BlazingShop, estamos comprometidos em oferecer a você a mais avançada e inovadora seleção de produtos eletrônicos. Seja você um entusiasta de tecnologia ou alguém em busca das últimas novidades, temos o que você procura.
                </p>
            </div>
            <div>
                <p>
                    Descubra uma variedade fascinante de dispositivos eletrônicos de marcas renomadas. Desde smartphones e laptops até dispositivos inteligentes para a sua casa, cada produto foi cuidadosamente selecionado para proporcionar desempenho excepcional e design elegante.
                </p>
            </div>
        </div>
    </div>
</div>


