@page "/categories/create"
@using BlazingShop.Models
@using BlazingShop.Data
@using Microsoft.EntityFrameworkCore
@inject ShopDbContext Context;
@inject NavigationManager NavManager

<link rel="stylesheet" href="../Pages/Categories/Create.razor.css" />


<h1>Nova Categoria</h1>
<div class="create-form-container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="Title" class="form-label">Title</label>
            <InputText class="form-control" type="text" id="Title" @bind-Value="model.Title" />
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }

        <button class="btn btn-success" type="submit">SAVE</button>
    </EditForm>
</div>

@code {
    private Category model = new();  // Alterado para Category
    private string? errorMessage = null;

    private async Task HandleSubmit()
    {
        try
        {
            // logs para depuração
            Console.WriteLine("Submitting category:");
            Console.WriteLine($"Title: {model.Title}");

            await Context.Categories.AddAsync(model);  // Alterado para Categories
            await Context.SaveChangesAsync();

            // logs para depuração
            Console.WriteLine("Category added successfully.");

            NavManager.NavigateTo("/categories");
        }
        catch (Exception ex)
        {
            // Adicione logs para depuração
            Console.WriteLine($"Error: {ex.Message}");
            errorMessage = ex.Message;
        }
    }
}
